<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <div class="menu-lateral-container">
            <h1 class="menu-lateral-titulo">Funcionalidades</h1>
            <mat-nav-list class="menu-lateral-botoes">
                <button mat-button class="botao-menu">
                    <mat-icon>add_circle</mat-icon>Adicionar
                </button>
                <button mat-button class="botao-menu">
                    <mat-icon>settings</mat-icon>Configuração
                </button>
                <button mat-button class="botao-menu">
                    <mat-icon>bar_chart</mat-icon>Progresso
                </button>
                <button mat-button class="botao-menu">
                    <mat-icon>calendar_month</mat-icon>Cronograma
                </button>
                <button mat-button class="botao-menu">
                    <mat-icon>share</mat-icon>Compartilhar
                </button>
                <button mat-button class="botao-menu ajuda">
                    <mat-icon>info</mat-icon>Ajuda
                </button>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="conteudo">
            <app-quadro></app-quadro>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- TODO: Lembrar de configurar o roteamento -->
