<!-- Considere colocar uma sidenav, é mais elegante -->

<div class="menu-lateral-container">
    <span class="menu-lateral_titulo">Funcionalidades</span>
    <mat-list class="menu-lateral_botoes" role="list">
        <button class="botao-adicionar">
            <mat-list-item class="menu-item" role="listitem">
                <mat-icon>add_circle</mat-icon>Adicionar
            </mat-list-item>
        </button>
        <button class="botao-configuracao">
            <mat-list-item class="menu-item" role="listitem">
                <span><mat-icon>settings</mat-icon>Configuração</span>
            </mat-list-item>
        </button>
        <button class="botao-progresso">
            <mat-list-item class="menu-item" role="listitem">
                <span><mat-icon>bar_chart</mat-icon>Progresso</span>
            </mat-list-item>
        </button>
        <button class="botao-cronograma">
            <mat-list-item class="menu-item" role="listitem">
                <span><mat-icon>calendar_month</mat-icon>Cronograma</span>
            </mat-list-item>
        </button>
        <button class="botao-compartilhar">
            <mat-list-item class="menu-item" role="listitem">
                <span><mat-icon>share</mat-icon>Compartilhar</span>
            </mat-list-item>
        </button>
        <button class="botao-ajuda">
            <mat-list-item class="menu-item" role="listitem">
                <span><mat-icon>info</mat-icon>Ajuda</span>
            </mat-list-item>
        </button>
    </mat-list>
</div>

<!-- TODO: Lembrar de configurar o roteamento -->
