<div class="barra-superior-container">
    <!--  Botão da página inicial  -->
    <div>
        <button class="botao-smartcat" mat-button><mat-icon aria-hidden="false" aria-label="Logo Smartcat" fontIcon="pets"></mat-icon>SmartCat</button>
    </div>

    <div class="barra-pesquisa_foto-usuario">
        <!--  Campo para pesquisar pelas tarefas  -->
        <div class="campo-pesquisa">
            <mat-form-field appearance="fill">
                <mat-label>Pesquise por uma tarefa <mat-icon class="icone-pesquisa" aria-hidden="false" aria-label="Barra de pesquisa" fontIcon="search"></mat-icon>
                </mat-label>
                <input matInput placeholder="Ex.: Projeto de PWeb">
            </mat-form-field>
        </div>

        <!--  Ícone simulando a foto do usuário  -->
        <div class="foto-usuario">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
        </div>
    </div>
</div>
