/*html, body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

app-quadro {
    margin-right: 20px;
    border-radius: 20px;
    background-color: #b7b3c1;
    flex-grow: 8;
    /*flex-basis: 80%;*/
    margin-bottom: 20px;
}

app-menu-lateral {
    flex-grow: 1;
    height: auto;
    /*flex-basis: 20%;*/
}

.container-rodape {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 20px;*/
    border: 1px solid black;
    /*border-radius: 20px;*/

    background-color: #a08ec8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    padding: 20px;
    align-items: center;
}

app-botao-logout {
    flex-grow: 2;
}

.card-container {
    height: 100%;
    width: 100%;
}
